html, body {
    margin: 0 !important;
    padding: 0 !important;
    font-family: Arial, Helvetica, sans-serif;
}

.navigation{
    width: 100%;
    background-color:transparent;
    color: #000;
    padding: 40px;
    font-size: 20px;
    font: Arial;
}
.content {
    display: flex;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32%;
    height: 150px;
    margin: 5px;
    border: 10px solid transparent;
    font-weight: bold;
    color: white;
    font-size: 24px;
    border-radius: 12px;
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
}

.block1 {
    background: url(https://previews.123rf.com/images/samot/samot1202/samot120200049/12159484-colosseum-in-black-and-white-style-rome-italy.avif);}

.block2 {
    background: url(https://cdn.artphotolimited.com/images/5b9fc1ecac06024957be8806/1000x1000/brussels-busy-view-of-the-grand-place-with-the-guild-houses-in-the-background.jpg);
}

.block3 {
    background: url(https://cdn-thumbs.ohmyprints.net/1/6fe3962d9f4fafa556b5c77fadc14dfc/817x600/thumbnail/fit.jpg);
}

.block:hover {
    border: 5px solid transparent;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rbga(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.footer {
    background-color: #cecdcd;
    color: #FFF;
    padding: 40px;

    display:flex;
    justify-content: space-between;
    align-items:center;
}


.menu {
    position: fixed;
    top: 20px;
    right: 20px;
}

.menu-trigger {
    background-color: rgb(112, 21, 21);
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: all0.4s ease;
    z-index: 5000 !important;
}

.menu-trigger:hover {
    background-color: #FFF000;
}

.menu-trigger:hover .dropdown{
    top: 10px;
}

.dropdown {
    position: fixed;
    top: -400px;
    left: 0;
    right: 0;
    height: 200px;
    background-color: #FDF;
    transition: all 0.4s ease;
    padding: 40px;

}