html, body {
    margin: 0 !important;
    padding: 0 !important;
    font-family: Arial, Helvetica, sans-serif;
}

.navigation{
    width: 100%;
    background-color:transparent;
    color: #000;
    padding: 40px;
    font-size: 20px;
    font: Arial;
}
.content {
    display: flex;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.block1 {
    background: url(https://previews.123rf.com/images/samot/samot1202/samot120200049/12159484-colosseum-in-black-and-white-style-rome-italy.avif);
    background-position: center center;
    background-size:cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 32%;
    height: 150px;
    margin: 5px;
    border: 10px solid transparent;
    font-weight:bold;
    color: white;
    font-size: 24px;
    border-radius: 12px;
}

.block2 {
    background: url(https://cdn.artphotolimited.com/images/5b9fc1ecac06024957be8806/1000x1000/brussels-busy-view-of-the-grand-place-with-the-guild-houses-in-the-background.jpg);
   background-position: center center;
    background-size:cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 32%;
    height: 150px;
    margin: 5px;
    border: 10px solid transparent;
    font-weight:bold;
    color: white;
    font-size: 24px;
    border-radius: 12px;
}

.block3 {
    background: url(https://cdn-thumbs.ohmyprints.net/1/6fe3962d9f4fafa556b5c77fadc14dfc/817x600/thumbnail/fit.jpg);
   background-position: center center;
    background-size:cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 32%;
    height: 150px;
    margin: 5px;
    border: 10px solid transparent;
    font-weight:bold;
    color: white;
    font-size: 24px;
    border-radius: 12px;
    
}

.block:hover {
    border: 5px solid transparent;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rbga(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.footer {
    background-color: #cecdcd;
    color: #FFF;
    padding: 40px;

    display:flex;
    justify-content: space-between;
    align-items:center;
}
