/**
 * Basis CSS file
 *
 * @author  Educom
 * @version 1.0
 *
 */

html, body {
    margin: 0;
    padding: 0;
}

.red-square {
    width: 80px;
    height: 80px;
    color: #FFF;
    padding: 20px;
    margin: 10px;
    font-size: 14px;
    background-color: rgba(236, 9, 9, 0.4);
    display: inline-block;
}


.cascading-parent {
    font-weight: bold;
    color: #FFF;
}

.cascading-child {
    background-color: #000;
    width: 200px;
    height: 200px;
}

.pink-circle{
    width: 100px;
    height: 100px;
    background-color:#e0a8e0;
    border-radius: 50%;
    margin: 20px;
}

.pink-innercircle{
    color: #e0a8e0 !important;
    width: 150px;
    height: 150px;
    background-color:rgb(179, 148, 148);
    border-radius: 50%;
    margin: 20px;
}

a {
    font-size: 22px;
    color: rgb(124, 72, 109)
}

.pink-circle h2 {
    color: rgb(128, 91, 197);
}

.pink-circle a {
    font-size: 18px;
    margin: 20px;
    color:antiquewhite;
    background-color:#e0a8e0;
}

.site-font{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}

.site-color{
    background-color: indianred;
    color: #FFF
}
.site-square{
    width: 200px;
    height: 200px;
}

/*unvisited link*/
a:link {
    color: red;
}

/*visited link*/
a:visited {
    color: green;
}

/*mouse over link */
a:hover {
    color: hotpink;
}

/*selected link*/
a:active {
    color: blue;
}

/* At the top of the file */
:root {

    /* FONTS */
    --regular:"Arial";
    --regular2:"Times New Roman";

    /* COLORS */
    --dark-brown: #402214;
    --lighter-brown: #774231;
    --lightest-brown: #aa4b1b;

    --darker-red: #b31714;
    --lighter-red: #cc5b59;

    --white: #FFF;
    --black: #000; 

    /* PADDING & MARGIN */ 
    --space-small: 20px;
    --space-medium: 40px;
    --space-large: 80px;

}

/* Usage */ 

h1{
    font-family: var(--regular);
    color: var(--darker-red);
    padding: var(--space-small);
    background-color: var(--black);
}

h2{
    font-family: var(--regular);
    color: var(--lighter-red);
    padding: var(--space-meidum);
}

h3{
    font-family: var(--regular2);
    color: var(--dark-brown);
    padding: var(--space-small)}

h4{
    font-family: var(--regular2);
    color: var(--lighter-brown);
    padding: var(--space-small)
}




